

div{
    margin: 0;
    height: auto;
}

body{
    text-align: center;
    margin: 0;
    background-color: #F5F5F5;
	font-family: "Merriweather", serif;
    color: #525252;
}

h1{
    line-height: 2;
    color: white;
    font-size: 7rem;
    margin: 50px auto 0 auto;
    font-family: "Handlee", sans-serif;
}

h2{
    color: #1D3557;
    font-size: 2.5rem;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
}

h3{
    color: #14253D;
    font-family: "Merriweather", sans-serif;
}

p{
    color: #0A131F;
    font-family: "Merriweather", sans-serif;
    margin: 0px;
    line-height: 2;
}

a{
    color: #7CC9CB;
    font-family: "Montserrat", sans-serif;
    font-style: none;
    margin: 10px 10px;
    text-decoration: none;
    font-weight: bold;
}

/************************* CLASS *************************/

.copy-right{
    color: #1E4848;
    padding: 20px 0px;
    font-size: 0.75rem;
}

.top-container
{
    background-color: #7CC9CB;
    position: relative;
    padding-top: 100px;
    height: auto;
}

.middle-container
{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #B6E1E2;
}

.skills
{
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-container
{
    background-color: #E2F3F3;
    padding-bottom: 20px;
    padding-top: 20px;
}

.bottom-container
{
    background-color: #2A6565;
    padding-bottom: 10px;
}

.top-cloud
{
    position: absolute;
    right: 700px;
    top: 50px;
}

.bottom-cloud
{
    position: absolute;
    left: 600px;
    bottom: 300px;
}

.profile-img{
    width: 12%
}

.skills-header-img{
    width: 12%;
}

.web-dev-img{
    width: 14%;
    float: left;
    margin-right: 30px;
}

.programming-languages-img{
    width: 10%;
    float: right;
    margin-left: 30px;
}

.project-management-img{
    width: 11%;
    float: left;
    margin-right: 30px;
}

.skill-row{
    margin: 20px auto 50px auto;
    width: 50%;
    text-align: left;
}


.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #368181);
  background-image: -moz-linear-gradient(top, #11cdd4, #368181);
  background-image: -ms-linear-gradient(top, #11cdd4, #368181);
  background-image: -o-linear-gradient(top, #11cdd4, #368181);
  background-image: linear-gradient(to bottom, #11cdd4, #368181);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  line-height: 2;
}


/*********************** PSEUDO CLASS *************************/

.top-container:hover{
    background-color: skyblue;
}

.middle-container:hover{
    background-color: lightblue;
}

.skills:hover{
    background-color: lightblue;
}

.contact-container:hover{
    background-color: lightblue;
}

.bottom-container:hover{
    /*background-color: #1E4848;*/
}

.profile-img:hover{
    opacity: 90%;
}
.skills-img:hover{
    opacity: 90%;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.footer-link:hover{
    color: #30e3cb;
}
/************************* COLOR PALLETE *************************/
/**** https://coolors.co/e63946-f1faee-7cc9cb-457b9d-1d3557 *****/